In [1]:
import sqlite3
import pandas as pd

In [7]:
#Taskas:
#example

In [2]:
# Connect to or create a new database file called 'superstore_database.db'

conn = sqlite3.connect('superstore_database.db')

In [3]:
# Create a cursor

cursor = conn.cursor()

In [4]:
# Perform a query

cursor.execute("SELECT * FROM Customers WHERE CustomerType = 'Corporate'")
rows = cursor.fetchall()

In [5]:
rows

[('DV-13045', 'Darrin Van Huff', 'Corporate'),
 ('KB-16585', 'Ken Black', 'Corporate'),
 ('GH-14485', 'Gene Hale', 'Corporate'),
 ('LC-16930', 'Linda Cazamias', 'Corporate'),
 ('RA-19885', 'Ruben Ausman', 'Corporate'),
 ('ES-14080', 'Erin Smith', 'Corporate'),
 ('ON-18715', 'Odella Nelson', 'Corporate'),
 ('JM-15265', 'Janet Molinari', 'Corporate'),
 ('BS-11590', 'Brendan Sweed', 'Corporate'),
 ('KB-16600', 'Ken Brennan', 'Corporate'),
 ('SC-20770', 'Stewart Carmichael', 'Corporate'),
 ('JC-16105', 'Julie Creighton', 'Corporate'),
 ('JS-15685', 'Jim Sink', 'Corporate'),
 ('ER-13855', 'Elpida Rittenbach', 'Corporate'),
 ('CV-12805', 'Cynthia Voltz', 'Corporate'),
 ('GG-14650', 'Greg Guthrie', 'Corporate'),
 ('DW-13585', 'Dorothy Wardle', 'Corporate'),
 ('JD-15895', 'Jonathan Doherty', 'Corporate'),
 ('SH-19975', 'Sally Hughsby', 'Corporate'),
 ('JE-16165', 'Justin Ellison', 'Corporate'),
 ('SP-20650', 'Stephanie Phelps', 'Corporate'),
 ('JB-15400', 'Jennifer Braxton', 'Corporate'),
 ('DK-13150', 'David Kendrick', 'Corporate'),
 ('AM-10360', 'Alice McCarthy', 'Corporate'),
 ('MZ-17515', 'Mary Zewe', 'Corporate'),
 ('FH-14365', 'Fred Hopkins', 'Corporate'),
 ('HK-14890', 'Heather Kirkland', 'Corporate'),
 ('MS-17980', 'Michael Stewart', 'Corporate'),
 ('VW-21775', 'Victoria Wilson', 'Corporate'),
 ('DS-13180', 'David Smith', 'Corporate'),
 ('EA-14035', 'Erin Ashbrook', 'Corporate'),
 ('DB-13120', 'David Bremer', 'Corporate'),
 ('DR-12880', 'Dan Reichenbach', 'Corporate'),
 ('Dl-13600', 'Dorris liebe', 'Corporate'),
 ('SB-20290', 'Sean Braxton', 'Corporate'),
 ('CB-12535', 'Claudia Bergmann', 'Corporate'),
 ('CA-12310', 'Christine Abelman', 'Corporate'),
 ('KH-16690', 'Kristen Hastings', 'Corporate'),
 ('BB-10990', 'Barry Blumstein', 'Corporate'),
 ('AG-10495', 'Andrew Gjertsen', 'Corporate'),
 ('AH-10195', 'Alan Haines', 'Corporate'),
 ('KL-16555', 'Kelly Lampkin', 'Corporate'),
 ('AS-10225', 'Alan Schoenberger', 'Corporate'),
 ('BP-11185', 'Ben Peterman', 'Corporate'),
 ('TS-21205', 'Thomas Seio', 'Corporate'),
 ('AG-10525', 'Andy Gerbode', 'Corporate'),
 ('SP-20860', 'Sung Pak', 'Corporate'),
 ('FA-14230', 'Frank Atkinson', 'Corporate'),
 ('GK-14620', 'Grace Kelly', 'Corporate'),
 ('DJ-13510', 'Don Jones', 'Corporate'),
 ('AC-10420', 'Alyssa Crouse', 'Corporate'),
 ('VB-21745', 'Victoria Brennan', 'Corporate'),
 ('MK-17905', 'Michael Kennedy', 'Corporate'),
 ('MM-18280', 'Muhammed MacIntyre', 'Corporate'),
 ('AR-10405', 'Allen Rosenblatt', 'Corporate'),
 ('AS-10285', 'Alejandro Savely', 'Corporate'),
 ('LA-16780', 'Laura Armstrong', 'Corporate'),
 ('DK-13225', 'Dean Katz', 'Corporate'),
 ('BP-11095', 'Bart Pistole', 'Corporate'),
 ('SS-20140', 'Saphhira Shifley', 'Corporate'),
 ('KC-16675', 'Kimberly Carter', 'Corporate'),
 ('MP-17965', 'Michael Paige', 'Corporate'),
 ('KH-16630', 'Ken Heidel', 'Corporate'),
 ('BB-11545', 'Brenda Bowman', 'Corporate'),
 ('EB-13705', 'Ed Braxton', 'Corporate'),
 ('MH-17785', 'Maya Herman', 'Corporate'),
 ('JG-15805', 'John Grady', 'Corporate'),
 ('MY-17380', 'Maribeth Yedwab', 'Corporate'),
 ('MC-17605', 'Matt Connell', 'Corporate'),
 ('KB-16240', 'Karen Bern', 'Corporate'),
 ('EB-13840', 'Ellis Ballard', 'Corporate'),
 ('NB-18655', 'Nona Balk', 'Corporate'),
 ('GD-14590', 'Giulietta Dortch', 'Corporate'),
 ('NG-18355', 'Nat Gilpin', 'Corporate'),
 ('SF-20965', 'Sylvia Foulston', 'Corporate'),
 ('DJ-13420', 'Denny Joy', 'Corporate'),
 ('JD-16150', 'Justin Deggeller', 'Corporate'),
 ('AR-10825', 'Anthony Rawles', 'Corporate'),
 ('SP-20545', 'Sibella Parks', 'Corporate'),
 ('TH-21235', 'Tiffany House', 'Corporate'),
 ('GT-14635', 'Grant Thornton', 'Corporate'),
 ('BN-11470', 'Brad Norvell', 'Corporate'),
 ('RS-19765', 'Roland Schwarz', 'Corporate'),
 ('SC-20695', 'Steve Chapman', 'Corporate'),
 ('YC-21895', 'Yoseph Carroll', 'Corporate'),
 ('CP-12340', 'Christine Phan', 'Corporate'),
 ('BF-11020', 'Barry Französisch', 'Corporate'),
 ('CS-12250', 'Chris Selesnick', 'Corporate'),
 ('AJ-10795', 'Anthony Johnson', 'Corporate'),
 ('BV-11245', 'Benjamin Venier', 'Corporate'),
 ('HW-14935', 'Helen Wasserman', 'Corporate'),
 ('MC-18130', 'Mike Caudle', 'Corporate'),
 ('BW-11110', 'Bart Watters', 'Corporate'),
 ('BM-11650', 'Brian Moss', 'Corporate'),
 ('EM-14095', 'Eudokia Martin', 'Corporate'),
 ('CK-12760', 'Cyma Kinney', 'Corporate'),
 ('DP-13105', 'Dave Poirier', 'Corporate'),
 ('AJ-10780', 'Anthony Jacobs', 'Corporate'),
 ('LS-16945', 'Linda Southworth', 'Corporate'),
 ('GP-14740', 'Guy Phonely', 'Corporate'),
 ('JS-15595', 'Jill Stevenson', 'Corporate'),
 ('PC-18745', 'Pamela Coakley', 'Corporate'),
 ('GB-14530', 'George Bell', 'Corporate'),
 ('JR-16210', 'Justin Ritter', 'Corporate'),
 ('RW-19630', 'Rob Williams', 'Corporate'),
 ('AH-10075', 'Adam Hart', 'Corporate'),
 ('RP-19270', 'Rachel Payne', 'Corporate'),
 ('KC-16255', 'Karen Carlisle', 'Corporate'),
 ('LW-16990', 'Lindsay Williams', 'Corporate'),
 ('MW-18235', 'Mitch Willingham', 'Corporate'),
 ('KM-16225', 'Kalyca Meade', 'Corporate'),
 ('NS-18640', 'Noel Staavos', 'Corporate'),
 ('DG-13300', 'Deirdre Greer', 'Corporate'),
 ('TS-21160', 'Theresa Swint', 'Corporate'),
 ('BT-11395', 'Bill Tyler', 'Corporate'),
 ('CY-12745', 'Craig Yedwab', 'Corporate'),
 ('DL-13495', 'Dionis Lloyd', 'Corporate'),
 ('FH-14275', 'Frank Hawley', 'Corporate'),
 ('HR-14830', 'Harold Ryan', 'Corporate'),
 ('SW-20755', 'Steven Ward', 'Corporate'),
 ('SP-20620', 'Stefania Perrino', 'Corporate'),
 ('BG-11695', 'Brooke Gillingham', 'Corporate'),
 ('SM-20950', 'Suzanne McNair', 'Corporate'),
 ('TB-21355', 'Todd Boyes', 'Corporate'),
 ('EB-13975', 'Erica Bern', 'Corporate'),
 ('QJ-19255', 'Quincy Jones', 'Corporate'),
 ('HG-14965', 'Henry Goldwyn', 'Corporate'),
 ('LW-16825', 'Laurel Workman', 'Corporate'),
 ('GZ-14545', 'George Zrebassa', 'Corporate'),
 ('CP-12085', 'Cathy Prescott', 'Corporate'),
 ('AS-10045', 'Aaron Smayling', 'Corporate'),
 ('HM-14860', 'Harry Marie', 'Corporate'),
 ('AB-10600', 'Ann Blume', 'Corporate'),
 ('YS-21880', 'Yana Sorensen', 'Corporate'),
 ('SV-20815', 'Stuart Van', 'Corporate'),
 ('RW-19540', 'Rick Wilson', 'Corporate'),
 ('DK-12835', 'Damala Kotsonis', 'Corporate'),
 ('PW-19030', 'Pauline Webber', 'Corporate'),
 ('SC-20440', 'Shaun Chance', 'Corporate'),
 ('MC-17425', 'Mark Cousins', 'Corporate'),
 ('NH-18610', 'Nicole Hansen', 'Corporate'),
 ('KD-16495', 'Keith Dawkins', 'Corporate'),
 ('KN-16390', 'Katherine Nockton', 'Corporate'),
 ('TS-21370', 'Todd Sumrall', 'Corporate'),
 ('JW-15220', 'Jane Waco', 'Corporate'),
 ('JM-15655', 'Jim Mitchum', 'Corporate'),
 ('EB-13750', 'Edward Becker', 'Corporate'),
 ('VG-21805', 'Vivek Grady', 'Corporate'),
 ('MY-18295', 'Muhammed Yedwab', 'Corporate'),
 ('ML-17395', 'Marina Lichtenstein', 'Corporate'),
 ('BS-11380', 'Bill Stewart', 'Corporate'),
 ('HH-15010', 'Hilary Holden', 'Corporate'),
 ('RB-19645', 'Robert Barroso', 'Corporate'),
 ('FM-14215', 'Filia McAdams', 'Corporate'),
 ('JE-15610', 'Jim Epp', 'Corporate'),
 ('RP-19855', 'Roy Phan', 'Corporate'),
 ('TB-21175', 'Thomas Boland', 'Corporate'),
 ('PB-19210', 'Phillip Breyer', 'Corporate'),
 ('ND-18460', 'Neil Ducich', 'Corporate'),
 ('BF-10975', 'Barbara Fisher', 'Corporate'),
 ('KH-16330', 'Katharine Harms', 'Corporate'),
 ('NC-18625', 'Noah Childs', 'Corporate'),
 ('ME-18010', 'Michelle Ellison', 'Corporate'),
 ('MD-17860', 'Michael Dominguez', 'Corporate'),
 ('EH-13765', 'Edward Hooks', 'Corporate'),
 ('SC-20230', 'Scot Coram', 'Corporate'),
 ('AC-10615', 'Ann Chong', 'Corporate'),
 ('MC-17590', 'Matt Collister', 'Corporate'),
 ('CC-12610', 'Corey Catlett', 'Corporate'),
 ('TC-20980', 'Tamara Chand', 'Corporate'),
 ('RF-19345', 'Randy Ferguson', 'Corporate'),
 ('DB-13555', 'Dorothy Badders', 'Corporate'),
 ('MH-17620', 'Matt Hagelstein', 'Corporate'),
 ('PJ-18835', 'Patrick Jones', 'Corporate'),
 ('RS-19420', 'Ricardo Sperren', 'Corporate'),
 ('EM-13825', 'Elizabeth Moffitt', 'Corporate'),
 ('BM-11575', 'Brendan Murry', 'Corporate'),
 ('SC-20260', 'Scott Cohen', 'Corporate'),
 ('EM-13810', 'Eleni McCrary', 'Corporate'),
 ('ML-18040', 'Michelle Lonsdale', 'Corporate'),
 ('GM-14695', 'Greg Maxwell', 'Corporate'),
 ('LS-17200', 'Luke Schmidt', 'Corporate'),
 ('LO-17170', 'Lori Olson', 'Corporate'),
 ('KD-16615', 'Ken Dana', 'Corporate'),
 ('NB-18580', 'Nicole Brennan', 'Corporate'),
 ('KN-16450', 'Kean Nguyen', 'Corporate'),
 ('BO-11350', 'Bill Overfelt', 'Corporate'),
 ('AG-10300', 'Aleksandra Gannaway', 'Corporate'),
 ('MC-17635', 'Matthew Clasen', 'Corporate'),
 ('TT-21265', 'Tim Taslimi', 'Corporate'),
 ('RR-19525', 'Rick Reed', 'Corporate'),
 ('CA-11965', 'Carol Adams', 'Corporate'),
 ('DM-13345', 'Denise Monton', 'Corporate'),
 ('BF-11275', 'Beth Fritzler', 'Corporate'),
 ('AY-10555', 'Andy Yotov', 'Corporate'),
 ('DM-12955', 'Dario Medina', 'Corporate'),
 ('JG-15310', 'Jason Gross', 'Corporate'),
 ('JP-15460', 'Jennifer Patt', 'Corporate'),
 ('CS-11845', 'Cari Sayre', 'Corporate'),
 ('AH-10030', 'Aaron Hawkins', 'Corporate'),
 ('DW-13195', 'David Wiener', 'Corporate'),
 ('CM-11815', 'Candace McMahon', 'Corporate'),
 ('CS-12490', 'Cindy Schnelling', 'Corporate'),
 ('DH-13075', 'Dave Hallsten', 'Corporate'),
 ('JO-15145', "Jack O'Briant", 'Corporate'),
 ('AH-10690', 'Anna Häberlin', 'Corporate'),
 ('FC-14335', 'Fred Chung', 'Corporate'),
 ('NC-18535', 'Nick Crebassa', 'Corporate'),
 ('DB-12970', 'Darren Budd', 'Corporate'),
 ('MF-17665', 'Maureen Fritzler', 'Corporate'),
 ('KE-16420', 'Katrina Edelman', 'Corporate'),
 ('CS-12175', 'Charles Sheldon', 'Corporate'),
 ('TP-21565', 'Tracy Poddar', 'Corporate'),
 ('SG-20890', 'Susan Gilcrest', 'Corporate'),
 ('BS-11365', 'Bill Shonely', 'Corporate'),
 ('SH-20635', 'Stefanie Holloman', 'Corporate'),
 ('GR-14560', 'Georgia Rosenberg', 'Corporate'),
 ('TS-21430', 'Tom Stivers', 'Corporate'),
 ('MF-18250', 'Monica Federle', 'Corporate'),
 ('AR-10345', 'Alex Russell', 'Corporate'),
 ('KS-16300', 'Karen Seio', 'Corporate'),
 ('LR-17035', 'Lisa Ryan', 'Corporate'),
 ('JK-15325', 'Jason Klamczynski', 'Corporate'),
 ('DM-13525', 'Don Miller', 'Corporate'),
 ('TH-21115', 'Thea Hudgings', 'Corporate'),
 ('MG-18205', 'Mitch Gastineau', 'Corporate'),
 ('BP-11050', 'Barry Pond', 'Corporate'),
 ('AO-10810', "Anthony O'Donnell", 'Corporate'),
 ('MH-17440', 'Mark Haberlin', 'Corporate'),
 ('LD-16855', 'Lela Donovan', 'Corporate'),
 ('VP-21760', 'Victoria Pisteka', 'Corporate'),
 ('TC-21145', 'Theresa Coyne', 'Corporate'),
 ('CM-12715', 'Craig Molinari', 'Corporate'),
 ('FW-14395', 'Fred Wasserman', 'Corporate'),
 ('HE-14800', 'Harold Engle', 'Corporate'),
 ('CJ-11875', 'Carl Jackson', 'Corporate')]

In [6]:
# Convert the retrieved data into a Dataframe
Corporate_customers = pd.DataFrame([row[1:3] for row in rows], columns= ['Customer ID', 'Customer Name'])

In [ ]:
#1. What is the category generating the maximum sales revenue?

# What about the profit in this category?
# Are they making a loss in any categories?

In [11]:
query = """
WITH one AS (
SELECT *
FROM OrderDetails O JOIN Products P
ON O.ProductID=P.ProductID)

SELECT Category, SUM(ProductPrice * Quantity) AS TotalSales
FROM one
GROUP BY Category
ORDER BY TotalSales DESC
LIMIT 1;
"""

# Execute the query
cursor.execute(query)
max_sales_category = cursor.fetchone()
print(f"The category generating the maximum sales revenue is {max_sales_category[0]} with a revenue of ${max_sales_category[1]:.2f}.")

The category generating the maximum sales revenue is Technology with a revenue of $101459234.00.

In [17]:
# This SQL query calculates total sales and total profit for each category
query = """
WITH one AS (
SELECT *
FROM OrderDetails O JOIN Products P
ON O.ProductID=P.ProductID)

SELECT Category, 
       SUM(ProductPrice *(1-Discount)* Quantity) AS TotalSales,
       SUM((ProductPrice * (1-Discount) - SupplierPrice) * Quantity) AS TotalProfit
FROM one
GROUP BY Category
ORDER BY TotalSales DESC
LIMIT 1;
"""

# Execute the query
cursor.execute(query)
result = cursor.fetchone()
category, total_sales, total_profit = result  # Unpack the result

print(f"The category with the highest sales revenue is '{category}' with a revenue of ${total_sales:.2f}.")
print(f"The total profit for this category is ${total_profit:.2f}.")

The category with the highest sales revenue is 'Technology' with a revenue of $81478926.40.
The total profit for this category is $14105653.40.

In [16]:
# SQL query to calculate total profit for each category including the effect of the discount
# Assuming 'Discount' column represents the discount as a fraction of the price (e.g., 0.1 for 10%)
query = """
WITH one AS (
SELECT *
FROM OrderDetails O JOIN Products P
ON O.ProductID=P.ProductID)

SELECT Category, 
       SUM(((ProductPrice * (1 - Discount)) - SupplierPrice) * Quantity) AS TotalProfit
FROM one
GROUP BY Category
HAVING TotalProfit < 0;
"""

# Execute the query
cursor.execute(query)
loss_making_categories = cursor.fetchall()

# Check if any categories are making a loss
if loss_making_categories:
    print("Categories making a loss (considering discounts):")
    for category, total_profit in loss_making_categories:
        print(f"{category}: Loss of ${-total_profit:.2f}")
else:
    print("No categories are making a loss considering discounts.")
    print("No categories are making a loss.")

No categories are making a loss considering discounts.
No categories are making a loss.

In [30]:
# What are 5 states generating the maximum and minimum sales revenue?

In [33]:
# SQL query to calculate total sales revenue considering product price and discount
query = """
WITH Revenue AS (
    SELECT
        Address.State AS State,
        SUM(Products.ProductPrice * (1 - OrderDetails.Discount) * OrderDetails.Quantity) AS TotalRevenue
    FROM OrderDetails
    JOIN Products ON OrderDetails.ProductID = Products.ProductID
    JOIN Shipment ON OrderDetails.SalesID = Shipment.SalesID
    JOIN Address ON Shipment.AddressID = Address.AddressID
    GROUP BY Address.State
)
SELECT State, TotalRevenue
FROM Revenue
ORDER BY TotalRevenue DESC
LIMIT 5;
"""

try:
    # Execute the query
    cursor.execute(query)
    results = cursor.fetchall()

    # Print the results
    print("Top 5 States by Maximum Sales Revenue:")
    for state, revenue in results:
        print(f"{state}: ${revenue:.2f}")

except sqlite3.Error as e:
    print(f"An error occurred: {e}")

Top 5 States by Maximum Sales Revenue:
California: $89970547.70
New York: $62087984.00
Texas: $33994341.84
Washington: $27053444.40
Pennsylvania: $22960233.40

In [34]:
query = """
WITH Revenue AS (
    SELECT
        Address.State AS State,
        SUM(Products.ProductPrice * (1 - OrderDetails.Discount) * OrderDetails.Quantity) AS TotalRevenue
    FROM OrderDetails
    JOIN Products ON OrderDetails.ProductID = Products.ProductID
    JOIN Shipment ON OrderDetails.SalesID = Shipment.SalesID
    JOIN Address ON Shipment.AddressID = Address.AddressID
    GROUP BY Address.State
)
SELECT State, TotalRevenue
FROM Revenue
ORDER BY TotalRevenue ASC
LIMIT 5;
"""

try:
    # Execute the query
    cursor.execute(query)
    results = cursor.fetchall()

    # Print the results
    print("Top 5 States by Min Sales Revenue:")
    for state, revenue in results:
        print(f"{state}: ${revenue:.2f}")

except sqlite3.Error as e:
    print(f"An error occurred: {e}")

Top 5 States by Min Sales Revenue:
West Virginia: $172044.80
North Dakota: $183982.00
Maine: $254100.00
South Dakota: $263112.00
Wyoming: $320627.20

In [ ]:
#What are the 3 products in each product segment with the highest sales?

In [36]:
# SQL query to find the top 3 products in each category by sales revenue
query = """

SELECT Category, ProductName, SalesRevenue
FROM (
    SELECT
        Products.Category,
        Products.ProductName,
        SUM(Products.ProductPrice * (1 - OrderDetails.Discount) * OrderDetails.Quantity) AS SalesRevenue,
        RANK() OVER (PARTITION BY Products.Category ORDER BY SUM(Products.ProductPrice * (1 - OrderDetails.Discount) * OrderDetails.Quantity) DESC) as Rank
    FROM Products
    JOIN OrderDetails ON Products.ProductID = OrderDetails.ProductID
    GROUP BY Products.Category, Products.ProductName
)
WHERE Rank <= 3;
"""

try:
    # Execute the query
    cursor.execute(query)
    results = cursor.fetchall()

    # Print the results
    print("Top 3 Products by Sales Revenue in Each Category:")
    for category, product_name, sales_revenue in results:
        print(f"Category: {category}, Product: {product_name}, Sales Revenue: ${sales_revenue:.2f}")

except sqlite3.Error as e:
    print(f"An error occurred: {e}")

Top 3 Products by Sales Revenue in Each Category:
Category: Furniture, Product: HON 5400 Series Task Chairs for Big and Tall, Sales Revenue: $2187057.60
Category: Furniture, Product: DMI Eclipse Executive Suite Bookcases, Sales Revenue: $1770964.30
Category: Furniture, Product: Riverside Palais Royal Lawyers Bookcase, Royale Cherry Finish, Sales Revenue: $1561096.56
Category: Office Supplies, Product: Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind, Sales Revenue: $2745338.40
Category: Office Supplies, Product: GBC DocuBind TL300 Electric Binding System, Sales Revenue: $1982347.90
Category: Office Supplies, Product: GBC Ibimaster 500 Manual ProClick Binding System, Sales Revenue: $1902450.00
Category: Technology, Product: Canon imageCLASS 2200 Advanced Copier, Sales Revenue: $6159982.40
Category: Technology, Product: Cisco TelePresence System EX90 Videoconferencing Unit, Sales Revenue: $2263848.00
Category: Technology, Product: Hewlett Packard LaserJet 3310 Copier, Sales Revenue: $1883968.60

In [ ]:
#Are they the 3 most profitable products as well?

In [39]:
# SQL query to calculate and rank products by both sales revenue and profit
query = """
WITH RevenueProfit AS (
    SELECT
        Products.Category,
        Products.ProductName,
        SUM(Products.ProductPrice * (1 - OrderDetails.Discount) * OrderDetails.Quantity) AS SalesRevenue,
        SUM((Products.ProductPrice * (1 - OrderDetails.Discount) - Products.SupplierPrice) * OrderDetails.Quantity) AS Profit,
        RANK() OVER (PARTITION BY Products.Category ORDER BY SUM(Products.ProductPrice * (1 - OrderDetails.Discount) * OrderDetails.Quantity) DESC) AS RevenueRank,
        RANK() OVER (PARTITION BY Products.Category ORDER BY SUM((Products.ProductPrice * (1 - OrderDetails.Discount) - Products.SupplierPrice) * OrderDetails.Quantity) DESC) AS ProfitRank
    FROM Products
    JOIN OrderDetails ON Products.ProductID = OrderDetails.ProductID
    GROUP BY Products.Category, Products.ProductName
)
SELECT 
    Category, 
    ProductName, 
    SalesRevenue, 
    Profit, 
    RevenueRank, 
    ProfitRank
FROM RevenueProfit
WHERE RevenueRank <= 3 OR ProfitRank <= 3;
"""

try:
    # Execute the query
    cursor.execute(query)
    results = cursor.fetchall()

    # Print the results
    print("Products ranked top 3 by Sales Revenue or Profit in Each Category:")
    for category, product_name, sales_revenue, profit, revenue_rank, profit_rank in results:
        print(f"Category: {category}, Product: {product_name}, Sales Revenue: ${sales_revenue:.2f}, Profit: ${profit:.2f}, Revenue Rank: {revenue_rank}, Profit Rank: {profit_rank}")

except sqlite3.Error as e:
    print(f"An error occurred: {e}")

Products ranked top 3 by Sales Revenue or Profit in Each Category:
Category: Furniture, Product: HON 5400 Series Task Chairs for Big and Tall, Sales Revenue: $2187057.60, Profit: $15.60, Revenue Rank: 1, Profit Rank: 250
Category: Furniture, Product: DMI Eclipse Executive Suite Bookcases, Sales Revenue: $1770964.30, Profit: $66646.30, Revenue Rank: 2, Profit Rank: 25
Category: Furniture, Product: Riverside Palais Royal Lawyers Bookcase, Royale Cherry Finish, Sales Revenue: $1561096.56, Profit: $-66943.44, Revenue Rank: 3, Profit Rank: 359
Category: Furniture, Product: Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back, Sales Revenue: $1063752.80, Profit: $192723.80, Revenue Rank: 7, Profit Rank: 1
Category: Furniture, Product: Global Deluxe High-Back Manager's Chair, Sales Revenue: $866519.40, Profit: $155844.40, Revenue Rank: 12, Profit Rank: 2
Category: Furniture, Product: Hon Pagoda Stacking Chairs, Sales Revenue: $648379.60, Profit: $154061.60, Revenue Rank: 26, Profit Rank: 3
Category: Office Supplies, Product: Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind, Sales Revenue: $2745338.40, Profit: $775288.40, Revenue Rank: 1, Profit Rank: 1
Category: Office Supplies, Product: GBC DocuBind TL300 Electric Binding System, Sales Revenue: $1982347.90, Profit: $223367.90, Revenue Rank: 2, Profit Rank: 6
Category: Office Supplies, Product: GBC Ibimaster 500 Manual ProClick Binding System, Sales Revenue: $1902450.00, Profit: $76098.00, Revenue Rank: 3, Profit Rank: 28
Category: Office Supplies, Product: Ibico EPK-21 Electric Binding System, Sales Revenue: $1587591.60, Profit: $334534.60, Revenue Rank: 7, Profit Rank: 2
Category: Office Supplies, Product: Honeywell Enviracaire Portable HEPA Air Cleaner for 17' x 22' Room, Sales Revenue: $1130406.40, Profit: $324646.40, Revenue Rank: 8, Profit Rank: 3
Category: Technology, Product: Canon imageCLASS 2200 Advanced Copier, Sales Revenue: $6159982.40, Profit: $2520002.40, Revenue Rank: 1, Profit Rank: 1
Category: Technology, Product: Cisco TelePresence System EX90 Videoconferencing Unit, Sales Revenue: $2263848.00, Profit: $-181110.00, Revenue Rank: 2, Profit Rank: 400
Category: Technology, Product: Hewlett Packard LaserJet 3310 Copier, Sales Revenue: $1883968.60, Profit: $698406.60, Revenue Rank: 3, Profit Rank: 2
Category: Technology, Product: Canon PC1060 Personal Laser Copier, Sales Revenue: $1161983.40, Profit: $457102.40, Revenue Rank: 9, Profit Rank: 3

In [42]:
#What are the 3 best-seller products in each product segment? (Quantity-wise)
# SQL query to find the top 3 best-selling products in each segment by quantity
query = """
WITH QuantityRanking AS (
    SELECT
        Products.Category,
        Products.ProductName,
        SUM(OrderDetails.Quantity) AS TotalQuantity,
        RANK() OVER (PARTITION BY Products.Category ORDER BY SUM(OrderDetails.Quantity) DESC) as Rank
    FROM Products
    JOIN OrderDetails ON Products.ProductID = OrderDetails.ProductID
    GROUP BY Products.Category, Products.ProductName
)
SELECT 
    Category, 
    ProductName, 
    TotalQuantity, 
    Rank
FROM QuantityRanking
WHERE Rank <= 3;
"""

try:
    # Execute the query
    cursor.execute(query)
    results = cursor.fetchall()

    # Print the results
    print("Top 3 Best-Selling Products by Quantity in Each Segment:")
    for segment, product_name, total_quantity, rank in results:
        print(f"Category: {segment}, Product: {product_name}, Total Quantity Sold: {total_quantity}, Rank: {rank}")

except sqlite3.Error as e:
    print(f"An error occurred: {e}")

Top 3 Best-Selling Products by Quantity in Each Segment:
Category: Furniture, Product: KI Adjustable-Height Table, Total Quantity Sold: 74, Rank: 1
Category: Furniture, Product: Situations Contoured Folding Chairs, 4/Set, Total Quantity Sold: 64, Rank: 2
Category: Furniture, Product: Staple-based wall hangings, Total Quantity Sold: 62, Rank: 3
Category: Office Supplies, Product: Staples, Total Quantity Sold: 215, Rank: 1
Category: Office Supplies, Product: Staple envelope, Total Quantity Sold: 170, Rank: 2
Category: Office Supplies, Product: Easy-staple paper, Total Quantity Sold: 150, Rank: 3
Category: Technology, Product: Imation 16GB Mini TravelDrive USB 2.0 Flash Drive, Total Quantity Sold: 75, Rank: 1
Category: Technology, Product: Logitech G19 Programmable Gaming Keyboard, Total Quantity Sold: 60, Rank: 2
Category: Technology, Product: Kingston Digital DataTraveler 16GB USB 2.0, Total Quantity Sold: 57, Rank: 3

In [43]:
# What are the top 3 worst-selling products in every category? (Quantity-wise)

In [44]:
query = """
WITH QuantityRanking AS (
    SELECT
        Products.Category,
        Products.ProductName,
        SUM(OrderDetails.Quantity) AS TotalQuantity,
        RANK() OVER (PARTITION BY Products.Category ORDER BY SUM(OrderDetails.Quantity) ASC) as Rank
    FROM Products
    JOIN OrderDetails ON Products.ProductID = OrderDetails.ProductID
    GROUP BY Products.Category, Products.ProductName
)
SELECT 
    Category, 
    ProductName, 
    TotalQuantity, 
    Rank
FROM QuantityRanking
WHERE Rank <= 3;
"""

try:
    # Execute the query
    cursor.execute(query)
    results = cursor.fetchall()

    # Print the results
    print("Top 3 Worst-Selling Products by Quantity in Each Category:")
    for segment, product_name, total_quantity, rank in results:
        print(f"Category: {segment}, Product: {product_name}, Total Quantity Sold: {total_quantity}, Rank: {rank}")

except sqlite3.Error as e:
    print(f"An error occurred: {e}")

Top 3 Worst-Selling Products by Quantity in Each Category:
Category: Furniture, Product: Bush Saratoga Collection 5-Shelf Bookcase, Hanover Cherry, *Special Order, Total Quantity Sold: 1, Rank: 1
Category: Furniture, Product: Global Enterprise Series Seating Low-Back Swivel/Tilt Chairs, Total Quantity Sold: 1, Rank: 1
Category: Furniture, Product: Barricks Non-Folding Utility Table with Steel Legs, Laminate Tops, Total Quantity Sold: 2, Rank: 3
Category: Furniture, Product: Ultra Commercial Grade Dual Valve Door Closer, Total Quantity Sold: 2, Rank: 3
Category: Office Supplies, Product: Boston 1900 Electric Pencil Sharpener, Total Quantity Sold: 1, Rank: 1
Category: Office Supplies, Product: Xerox 20, Total Quantity Sold: 1, Rank: 1
Category: Office Supplies, Product: Avery 5, Total Quantity Sold: 2, Rank: 3
Category: Office Supplies, Product: Avery Hi-Liter Pen Style Six-Color Fluorescent Set, Total Quantity Sold: 2, Rank: 3
Category: Office Supplies, Product: Eureka Disposable Bags for Sanitaire Vibra Groomer I Upright Vac, Total Quantity Sold: 2, Rank: 3
Category: Office Supplies, Product: Grip Seal Envelopes, Total Quantity Sold: 2, Rank: 3
Category: Office Supplies, Product: Jiffy Padded Mailers with Self-Seal Closure, Total Quantity Sold: 2, Rank: 3
Category: Office Supplies, Product: Multimedia Mailers, Total Quantity Sold: 2, Rank: 3
Category: Office Supplies, Product: Xerox 1969, Total Quantity Sold: 2, Rank: 3
Category: Office Supplies, Product: Xerox 1984, Total Quantity Sold: 2, Rank: 3
Category: Office Supplies, Product: Xerox 1989, Total Quantity Sold: 2, Rank: 3
Category: Technology, Product: Penpower WorldCard Pro Card Scanner, Total Quantity Sold: 1, Rank: 1
Category: Technology, Product: Canon imageCLASS MF7460 Monochrome Digital Laser Multifunction Copier, Total Quantity Sold: 2, Rank: 2
Category: Technology, Product: Hewlett-Packard Deskjet F4180 All-in-One Color Ink-jet - Printer / copier / scanner, Total Quantity Sold: 2, Rank: 2
Category: Technology, Product: Memorex Mini Travel Drive 4 GB USB 2.0 Flash Drive, Total Quantity Sold: 2, Rank: 2
Category: Technology, Product: NeatDesk Desktop Scanner & Digital Filing System, Total Quantity Sold: 2, Rank: 2
Category: Technology, Product: PNY Rapid USB Car Charger - Black, Total Quantity Sold: 2, Rank: 2
Category: Technology, Product: RCA ViSYS 25423RE1 Corded phone, Total Quantity Sold: 2, Rank: 2

In [45]:
# How many unique customers per month are there for the year 2016. 
#(There's a catch here: contrary to other 'heavier' RDBMS, SQLite does not support the functions YEAR() or MONTH() 
#to extract the year or the month in a date. You will have to create two new columns: year and month.)

In [48]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('superstore_database.db')
cursor = conn.cursor()

# Add Year and Month columns to the Orders table
try:
    cursor.execute("ALTER TABLE OrderDetails ADD COLUMN Year INTEGER;")
    cursor.execute("ALTER TABLE OrderDetails ADD COLUMN Month INTEGER;")
except sqlite3.OperationalError as e:
    print(e)  # Handle the error if the columns already exist

# Update the Year and Month columns based on the OrderDate
update_query = """
UPDATE OrderDetails
SET
    Year = CAST(SUBSTR(OrderDate, 1, 4) AS INTEGER),
    Month = CAST(SUBSTR(OrderDate, 6, 2) AS INTEGER);
"""
cursor.execute(update_query)

# Commit the changes to the database
conn.commit()

In [50]:


# Query to find unique customers per month in 2016
query = """
SELECT Year, Month, COUNT(DISTINCT CustomerID) AS UniqueCustomers
 FROM OrderDetails
    JOIN Products ON OrderDetails.ProductID = Products.ProductID
    JOIN Shipment ON OrderDetails.SalesID = Shipment.SalesID
    JOIN Address ON Shipment.AddressID = Address.AddressID
WHERE Year = 2016
GROUP BY Year, Month
ORDER BY Month;
"""

cursor.execute(query)
results = cursor.fetchall()

# Print the results
print("Unique Customers per Month in 2016:")
for year, month, unique_customers in results:
    print(f"Year: {year}, Month: {month}, Unique Customers: {unique_customers}")

Unique Customers per Month in 2016:
Year: 2016, Month: 1, Unique Customers: 46
Year: 2016, Month: 2, Unique Customers: 42
Year: 2016, Month: 3, Unique Customers: 80
Year: 2016, Month: 4, Unique Customers: 83
Year: 2016, Month: 5, Unique Customers: 96
Year: 2016, Month: 6, Unique Customers: 90
Year: 2016, Month: 7, Unique Customers: 89
Year: 2016, Month: 8, Unique Customers: 86
Year: 2016, Month: 9, Unique Customers: 176
Year: 2016, Month: 10, Unique Customers: 95
Year: 2016, Month: 11, Unique Customers: 165
Year: 2016, Month: 12, Unique Customers: 157