In [107]:
print('hello')

hello

In [108]:
#Import libraries...

import pandas as pd
import os
import sqlite3
from sqlite3 import Error

In [109]:
#Creating an empty sqlite database to populate with the newly created dataframes
sales_db = sqlite3.connect("superstore_database.db")

#Alternate method
# import pyodbc
# sales_db = pyodbc.connect('Driver={SQL Server};'
#                      'Server=KILLBOT-LAPTOP\SQLEXPRESS;'
#                      'Database=test_database;'
#                      'Trusted_Connection=yes;')

In [110]:
# Establishing a cursor object (a tool that executes SQL code against the database)
c = sales_db.cursor()

In [111]:
#create the (empty) tables which will be included in the database

#Customers
c.execute('''
CREATE TABLE IF NOT EXISTS "Customers" (
	"CustomerID"	CHAR(8),
	"CustomerName"	VARCHAR(30),
	"CustomerType"	VARCHAR(15),
	PRIMARY KEY("CustomerID")
);
''')

In [112]:
#Address
c.execute('''
CREATE TABLE IF NOT EXISTS "Address" (
	"CustomerID"	CHAR(8),
	"Region"	VARCHAR(7),
	"State"	VARCHAR(20),
	"City"	VARCHAR(30),
	"PostalCode"	MEDIUMINT,
	"AddressID"	CHAR(7),
	PRIMARY KEY("AddressID"),
    FOREIGN KEY (CustomerID) REFERENCES "Customers"(CustomerID)
);
''')

In [113]:
#Products
c.execute('''
CREATE TABLE IF NOT EXISTS "Products" (
	"ProductID"	CHAR(15),
	"ProductName"	VARCHAR(200),
	"ProductPrice"	MEDIUMINT,
	"SupplierPrice"	MEDIUMINT,
	"Category"	CHAR(5),
    "SubCategory" CHAR(15),
	PRIMARY KEY(ProductID)
);
''')

In [114]:
#Shipment
c.execute('''
CREATE TABLE IF NOT EXISTS "Shipment" (
	"SalesID"	CHAR(14),
	"AddressID"	CHAR(20),
	"ShipMode"	CHAR(15),
    "ShipDate"	CHAR(15),
	 FOREIGN KEY (SalesID) REFERENCES "OrderDetails"(SalesID)
);
''')

In [115]:
#OrderDetails
c.execute('''
CREATE TABLE IF NOT EXISTS "OrderDetails" (
    "SalesID" CHAR(14),
    "OrderID" CHAR(14),
    "ProductID" CHAR(15),
    "Quantity" MEDIUMINT,
    "Discount" MEDIUMINT,
    "OrderDate" DATE,
    PRIMARY KEY ("SalesID")
);
''')

In [116]:
df = pd.read_csv('tables\Customers.csv', encoding='utf-8')

In [117]:
import chardet

# look at the first 100k bytes to guess the character encoding
with open("tables\Customers.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))

# check what the character encoding might be
print(result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [118]:
df.head(2)

  CustomerID     CustomerName CustomerType
0   CG-12520      Claire Gute     Consumer
1   DV-13045  Darrin Van Huff    Corporate

In [119]:
# Insert data into the SQLite table
# The 'if_exists' parameter is set to 'append' to add data without replacing existing data
df.to_sql('Customers', sales_db, if_exists='append', index=False)

IntegrityError: UNIQUE constraint failed: Customers.CustomerID

In [ ]:
# Commit the changes and close the connection
sales_db.commit()

In [ ]:

df_address = pd.read_csv('tables\Address.csv', encoding='utf-8')
# Insert data into the SQLite table
# The 'if_exists' parameter is set to 'append' to add data without replacing existing data
df_address.to_sql('Address', sales_db, if_exists='append', index=False)
# Commit the changes and close the connection
sales_db.commit()

In [120]:
df_address = pd.read_csv('tables\Products.csv', encoding='utf-8')
# Insert data into the SQLite table
# The 'if_exists' parameter is set to 'append' to add data without replacing existing data
df_address.to_sql('Products', sales_db, if_exists='append', index=False)
# Commit the changes and close the connection
sales_db.commit()

In [121]:
df_shipment = pd.read_csv('tables\Shipment.csv', encoding='utf-8')
# Insert data into the SQLite table
# The 'if_exists' parameter is set to 'append' to add data without replacing existing data
df_shipment.to_sql('Shipment', sales_db, if_exists='append', index=False)
# Commit the changes and close the connection
sales_db.commit()

In [123]:
df_orderdetails = pd.read_csv('tables\OrderDetails.csv', encoding='utf-8')
# Insert data into the SQLite table
# The 'if_exists' parameter is set to 'append' to add data without replacing existing data
df_orderdetails.to_sql('OrderDetails', sales_db, if_exists='append', index=False)
# Commit the changes and close the connection
sales_db.commit()

IntegrityError: UNIQUE constraint failed: OrderDetails.SalesID

In [124]:
sales_db.close()